*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-feature-settings: "palt";
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  font-size: 100%;
  font-size: 16px;
  height: 100%;
  width: 100%;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  list-style-type: none;
}

input {
  position: relative;
  border: 1px solid gray;
  border-radius: 0px;
  padding: 10px;
  font-size: 100%;
  margin: 2px;
}

article {
  display: block;
}

.wrapper {
  width: 81%;
  display: grid;
  grid-template-rows: 11rem auto 9.375rem;
  grid-template-columns: 81vw 1fr;
  grid-template-areas: " header sidebar " " main sidebar " " footer footer ";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
button {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

figure {
  list-style-type: none;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  -webkit-padding-end: 0px;
          padding-inline-end: 0px;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

a:-webkit-any-link {
  text-decoration: none;
}

a {
  color: inherit;
}

pre {
  margin: 0;
}

.l-header {
  width: 100%;
  height: auto;
  grid-area: header;
}
@media screen and (min-width: 1025px) {
  .l-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
  }
}

.l-header__top__logo {
  font-family: "Roboto", sans-serif;
  font-size: 64px;
  color: #707070;
  margin: 40px 0px 38px auto;
}
@media screen and (min-width: 1025px) {
  .l-header__top__logo {
    font-size: 52px;
    margin-left: 20%;
  }
}
@media (min-width: 1280px) {
  .l-header__top__logo {
    font-size: 64px;
  }
}

.side-wrapper {
  width: auto;
  height: auto;
  display: flex;
  top: 0;
  left: 100%;
  grid-area: sidebar;
  overflow: hidden;
}

.side-wrapper {
  display: flex;
  justify-content: flex-end;
  height: 100vh;
}
@media screen and (min-width: 1025px) {
  .side-wrapper {
    height: auto;
  }
}
@media screen and (min-width: 1025px) {
  .side-wrapper {
    width: 19vw;
    background: inherit;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #f2ede9;
    transition-duration: 0s;
  }
}

.l-main {
  height: auto;
  background-color: #fffdfa;
  grid-area: main;
}

.l-main .p-visual--sub {
  list-style: none;
  width: 100%;
  grid-area: mainMiddle;
}

.c-background-color--base {
  background-color: #fff7ef;
}

.c-font-family--mplus1 {
  font-family: "M PLUS 1p", sans-serif;
}

.c-font-weight--bold {
  font-weight: bold;
}

.c-font-color--base {
  color: #707070;
}

.c-font-family--robot {
  font-family: "Roboto", sans-serif;
}

.c-font-color--white {
  color: #ffffff;
}

.c-img--magnifying-glass {
  background-image: url(/images/search.png);
  background-repeat: no-repeat;
}

.c-img--magnifying-glass {
  font-size: 24px;
  text-indent: 3rem;
  background-position: 16px 11px;
}

@media screen and (min-width: 1025px) {
  .c-title--sidebar {
    display: inherit;
    margin-top: 82px;
    margin-left: 46px;
  }
}

.c-title--sidebar {
  font-size: 34px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #707070;
}

.c-title--sidebar__menu {
  font-size: 24px;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: bold;
  color: #707070;
  margin-top: 5.3125rem;
}
@media screen and (min-width: 1025px) {
  .c-title--sidebar__menu {
    margin: 3rem 0 0 20%;
  }
}

.c-title--sidebar__menu:first-of-type {
  margin-top: 212px;
}
@media screen and (min-width: 1025px) {
  .c-title--sidebar__menu:first-of-type {
    margin-top: 5.3125rem;
  }
}

.c-title--main {
  font-size: 36px;
  padding: 119px 134px 115px 25px;
}
@media screen and (min-width: 1025px) {
  .c-title--main {
    padding-left: 86px;
    font-size: 45px;
  }
}

.c-text--sidebar {
  font-size: 20px;
  font-family: "M PLUS 1p", sans-serif;
  color: #707070;
}
@media screen and (min-width: 1025px) {
  .c-text--sidebar {
    margin: 3rem 0 0 26%;
  }
}

.c-text--sidebar > li {
  margin-bottom: 23px;
}

.c-form-search {
  display: flex;
  justify-content: center;
  margin-left: 24px;
}
@media screen and (min-width: 1025px) {
  .c-form-search {
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 2%;
    width: 35vw;
  }
}

.c-form-search .c-form-search__submit {
  width: 20%;
  height: 2.875rem;
  background-color: #f2ede9;
  border-radius: 10px;
  border-width: 1px;
}

.c-form-search .c-form-search__keyword {
  width: 70%;
  height: 2.875rem;
  border-radius: 10px;
  border-width: 1px;
  margin-right: 12px;
}

.p-search--form label {
  display: none;
}

.p-search--form {
  padding-bottom: 40px;
}
@media screen and (min-width: 1025px) {
  .p-search--form {
    margin-right: 2rem;
    padding-bottom: 0;
  }
}

.p-sideMenu {
  display: flex;
  justify-content: flex-end;
  height: 100vh;
}
@media screen and (min-width: 1025px) {
  .p-sideMenu {
    height: auto;
  }
}

@media screen and (min-width: 1025px) {
  .p-sideMenu__main {
    width: 19vw;
    background: inherit;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #f2ede9;
    transition-duration: 0s;
  }
}

.p-visual--main {
  background-image: url(/images/front/main-visual-1.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 1025px) {
  .p-visual--main {
    height: 33.125rem;
    display: flex;
    align-items: center;
    margin-bottom: 120px;
  }
}

/* foundation */
/* layout */
/* object */
/*# sourceMappingURL=style.css.map */