// header font style

.c-font-family--mplus1 {
    font-family: "M PLUS 1p", sans-serif;
}

// header font bold

.c-font-weight--bold {
    font-weight: bold;
}

// header font color

.c-font-color--base {
    color: #707070;
}

// header font style

.c-font-family--mplus1 {
    font-family: "M PLUS 1p", sans-serif;
    font: inherit;
}