// 検索ポジション

.c-form-search .c-form-search__submit {
    width: 20%;
    height: 2.875rem;
    background-color: #f2ede9;
    border-radius: 10px;
    border-width: 1px;
    cursor: pointer;
}

.p-search--form .c-form-search .c-form-search__keyword {
    width: 70%;
    height: 2.875rem;
    margin-right: 12px;
    border-radius: 10px;
    border-width: 1px;
}

.p-search--form .c-form-search .c-img--magnifying-glass {
    font-size: 24px;
    text-indent: 3rem;
    background-position: 16px 11px;
}