// 検索ポジション

.c-form-search .c-form-search__submit {
    width: 20%;
    height: 2.875rem;
    background-color: #f2ede9;
    border-radius: 10px;
    border-width: 1px;
    cursor: pointer;
}

.c-form-search .c-form-search__keyword {
    width: 70%;
    height: 2.875rem;
    border-radius: 10px;
    border-width: 1px;
    margin-right: 12px;
}
