// 検索ポジション
.c-form-search {
    display: flex;
    justify-content: center;
    margin-left: 24px;
        @media screen and (min-width: 1025px){
        justify-content: flex-end;
        margin-left: auto;
        margin-right: 2%;
        width: 35vw;
        }
}

.c-form-search .c-form-search__submit {
    width: 20%;
    height: 2.875rem;
    background-color: #f2ede9;
    border-radius: 10px;
    border-width: 1px;
}

.c-form-search .c-form-search__keyword {
    width: 70%;
    height: 2.875rem;
    border-radius: 10px;
    border-width: 1px;
    margin-right: 12px;
}

.c-form-search {
    font-size: 24px;
    text-indent: 3rem;
    background-position: 16px 11px;
}
