// 虫眼鏡
.c-img--magnifying-glass {
    background-image: url(/images/search.png);
    background-repeat: no-repeat;
}

.c-img--magnifying-glass {
    font-size: 24px;
    text-indent: 3rem;
    background-position: 16px 11px;
}