// sidebar Menu

.c-text--sidebar {
        font-size: 20px;
        font-family: "M PLUS 1p", sans-serif;
        color: #707070;
}

.c-text--sidebar > li {
    margin-bottom: 23px;
}

.c-text--sub {
    font-size: 16px;
}

.c-text--access {
    font-size: 14px;
    color: #ffffff;
    display: inline-block;
}

.c-text--copy-right {
    font-size: 14px;
    color: #ffffff;
    text-align: center;
}