// sidebar　Menu文字　位置

.c-title--sidebar {
    @media screen and (min-width: 1025px){
    display: inherit;
    margin-top: 82px;
    margin-left: 46px;
}
}

// sidebar　Menu文字スタイル

.c-title--sidebar {
    font-size: 34px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #707070;
}

.c-title--sidebar__menu {
    font-size: 24px;
    font-family: "M PLUS 1p", sans-serif;
    font-weight: bold;
    color: #707070;
    margin-top: 5.3125rem;
    @media screen and (min-width: 1025px){
        margin: 3rem 0 0 20%
    }
}

.c-title--sidebar__menu:first-of-type {
    margin-top: 212px;
    @media screen and (min-width: 1025px){
    margin-top: 5.3125rem;
    }
}

// main 文字スタイル

.c-title {
    &--main {
        font-size: 36px;  
    }
}

// メイン　tekeOut EAT In 文字位置

.c-title--sub {
    margin-left: 15px;
    padding-top: 11px;
    margin-bottom: auto;
    font-size: 41px;
}

// メイン　teke Out EAT In 文字下線

.c-title--underline::after {
    content: "";
    display: inline-block;
    background-color: #ffffff;
    font-weight: bold;
    position: relative;
}

.c-title--sentence {
    font-size: 22px;
}
