// header 検索フォーム　検索文字　削除

.p-search--form label {
    display: none;
}

// 検索フォームの　ポジション

.p-search--form {
    padding-bottom: 40px;
    @media screen and (min-width: 1025px){
        margin-right: 2rem;
        padding-bottom: 0;
    }
}

.p-search--form .c-form-search {
    display: flex;
    justify-content: center;
    margin-left: 24px;
    @media (min-width: 520px){
    width: 70%;
    margin: 0 auto;
    }
    @media screen and (min-width: 768px){
    justify-content: inherit;
    width: 65%;
    margin: 0 auto;
    }
    @media screen and (min-width: 1025px){
    margin-left: auto;
    margin-right: 2%;
    width: 35vw;
    }
}

input::placeholder {
    font-size: 15px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
}