.p-sideMenu {
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    @media screen and (min-width: 1025px){
        height: auto;
    }
}

.p-sideMenu__main {
    @media screen and (min-width: 1025px){
        width: 19vw;
        background: inherit;
        overflow-x: hidden;
        overflow-y: scroll;
        background-color: #f2ede9;
        transition-duration: 0s;
    }
}
