// sidebar

.side-wrapper {
    width: auto;
    height: auto;
    display: flex;
    position: absolute;
    top: 0;
    left: 100%;
    grid-area: sidebar;
@media screen and (min-width: 1025px){
    left: 81%;
    position: inherit;
    }
}

.side-wrapper .p-sideMenu {
    display: flex;
    justify-content: flex-end;
    height: 100vh;
@media screen and (min-width: 1025px){
    height: auto;
    }
}

.side-wrapper .p-sideMenu__main {
    width: 0;
    height: 100%;
    overflow: scroll;
    background: linear-gradient(to right, rgba(95, 93, 91, 0) 0%, rgba(95, 93, 91, 0) 12.5%, #f2ede9 12.5%, #f2ede9 100%);
@media screen and (min-width: 768px){
    width: 0;
    background: linear-gradient(to right, rgba(95, 93, 91, 0) 0%, rgba(95, 93, 91, 0) 56%, #f2ede9 56%, #f2ede9 100%);
    }
@media screen and (min-width: 1025px){
    width: 19vw;
    background: inherit;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #f2ede9;
    transition-duration: 0s;
    }
}

.side-wrapper .p-sideMenu__main .c-title--sidebar__menu:first-of-type {
    margin-top: 212px;
@media screen and (min-width: 1025px){
    margin-top: 5.3125rem;
    }
}

.side-wrapper .p-sideMenu__main .c-text--sidebar {
    margin: 40px 22px auto 21.5%;
@media screen and (min-width: 768px){
    margin: 3rem 0 0 63%;
    }
@media screen and (min-width: 1025px){
    margin: 3rem 0 0 26%;
}
}

.side-wrapper .p-sideMenu__main .c-title--sidebar__menu {
    margin: 3rem 0 0 20%;
}