// sidebar
.side-wrapper {
    width: auto;
    height: auto;
    display: flex;
    top: 0;
    left: 100%;
    grid-area: sidebar;
    overflow:hidden;
}

.side-wrapper {
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    @media screen and (min-width: 1025px){
        height: auto;
    }
    @media screen and (min-width: 1025px){
        width: 19vw;
        background: inherit;
        overflow-x: hidden;
        overflow-y: scroll;
        background-color: #f2ede9;
        transition-duration: 0s;
    }
}
