
// 共通部分

*,
*:before,
*:after {
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

body {
-webkit-font-feature-settings: "palt";
font-feature-settings: "palt";
-webkit-text-size-adjust: 100%;
text-size-adjust: 100%;
font-size: 16px;
height: 100%;
width: 100%;
}

body {
    font-size: 100%;
    height: 100%;
}

img {
    max-width: 100%;
}

li {
    list-style:none
}

ul {
    padding-inline-start: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    list-style-type: none;
}

input {
    position: relative;
    border: 1px solid gray;
    border-radius: 0px;
    padding: 10px;
    font-size: 100%;
    margin:2px;
}

article {
    display: block;
}

// header　幅指定

.wrapper {
    width: 81%;
    display: grid;
    grid-template-rows: 11rem auto 9.375rem;
    grid-template-columns: 81vw 1fr;
    grid-template-areas:
        " header sidebar "
        " main sidebar "
        " footer footer "
}
